{
  "extends": ["stylelint-config-standard", "stylelint-config-rational-order"],
  "plugins": ["stylelint-prettier", "stylelint-order", "stylelint-config-rational-order/plugin"],
  "rules": {
    "prettier/prettier": true,
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "selector-combinator-space-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": true,
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "number-leading-zero": "always",
    "comment-whitespace-inside": "always",
    "at-rule-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "double",
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-colon-space-after": "always",
    "declaration-colon-newline-after": null,
    "at-rule-no-unknown": null,
    "selector-pseudo-class-no-unknown": null,
    "rule-empty-line-before": null
  }
}