.infoBar {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: 30px;
  font-size: 12px;
}

.infoItem {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.infoItem:not(:last-of-type) {
  margin-right: 10px;
}

.icon {
  height: 20px;
  margin-right: 5px;
}

.accent {
  font-weight: bold;
}
