.infoBar {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 30px;
  font-size: 12px;
}

.infoItem {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 15px 15px 0 0;
}

.row {
  display: flex;
}

.icon {
  height: 15px;
  margin-right: 8px;
}

.accent {
  font-weight: bold;
}
