.infoBar {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  color: gray;
  font-size: 10px;
  border-top: 1px rgba(0, 0, 0, 0.06) solid;
}

.infoItem {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 20px 0 0;
}

.row {
  display: flex;
}

.icon {
  height: 10px;
  margin-right: 4px;
}

.accent {
  font-weight: bold;
}
