.category {
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px auto;

  @media all and (min-width: 541px) {
    padding-left: 30px;
  }
}

.title {
  margin: 0 0 10px 20px;
  padding-top: 50px;
  color: rgb(77, 77, 77);
  font-weight: 900;
  font-size: 50px;

  @media all and (min-width: 1400px) {
    position: sticky;
    top: 50px;
    padding-right: 40px;
    font-size: calc((100vw - 1070px * 1) / 12);
    text-align: right;
    transform: translate(calc(-100% - 1px), -100%);
  }

  @media all and (min-width: 1800px) {
    padding-right: 60px;
    font-size: calc((100vw - 1070px) / 12);
    transform: translate(-100%, 0);
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  max-width: 1065px;

  @media all and (max-width: 540px) {
    margin: 0 10px;
  }

  @media all and (max-width: 1071px) {
    flex-direction: column;
  }

  @media all and (min-width: 1400px) {
    margin-top: calc((100vw - 1070px * 1) / -4);
  }

  @media all and (min-width: 1800px) {
    margin-top: calc((100vw - 1070px * 1) / -8);
  }
}

.itemWrapper {
  margin: 0 30px 30px 0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.133) 0 1.6px 3.6px 0, rgba(0, 0, 0, 0.11) 0 0.3px 0.9px 0;

  @media all and (max-width: 540px) {
    margin: 0 0 30px 0;
  }
}

@media all and (min-width: 541px) {

  .bookCards .itemWrapper {
    flex-basis: 500px;
  }

  .defaultCards .itemWrapper {
    flex-basis: 325px;
  }
}
