.item {
  position: relative;
  display: flex;
  width: 300px;
  height: 215px;
  padding: 20px;
  border: 1px solid rgb(197, 197, 197, 0.2);
  box-shadow: 3px 3px 3px rgba(197, 197, 197, 0.1);
}

.itemContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

.itemLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.itemHeader {
  display: flex;
}

.repoOwnerLogo {
  align-self: flex-start;
  max-height: 23px;
  margin-right: 15px;
}

.description {
  height: 100px;
  margin-top: 20px;
  font-size: 14px;
}
