.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15vh 0 30vh 0;
  color: rgb(255, 255, 255, 0.7);
  font-weight: 900;
  font-size: 3.8vh;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;

  @media all and (max-width: 1090px) {
    margin: 25vh 0;
  }
}

.love {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 42vh;
  transform: translate(-50%, -45%);
  transform-origin: 50% 50%;
  animation: love 0.7s infinite alternate;
}

@keyframes love {
  100% {
    transform: translate(-50%, -45%) scale(1.03, 1.03);
  }
}

.lineTwo {
  color: white;
}

.lineThree {
  margin-top: 0.65vh;
  font-size: 0.54em;
}
