doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='theme-color', content='black')
		meta(name='author', content='Sergey Pimenov')
		title Web-animation tools list
		link(rel='stylesheet', href='styles/index.css')
		link(rel='shortcut icon', href='images/animation-icon.png', type='image/x-icon')
		script(src='toolsList.js')
		script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
	body
		header
			h1 Web-animation tools list
			.options
				.filters
						h3 Technologies:
						.technologiesGroup
							button.button.showAll.is-checked(data-filter='*') All
							button.button(data-filter='.CSS') CSS
							button.button(data-filter='.SVG') SVG
							button.button(data-filter='.DOM') DOM
							button.button(data-filter='.Canvas') Canvas
							button.button(data-filter='.Scroll') Scroll
							button.button(data-filter='.Easing') Easing
							button.button(data-filter='.GUI') GUI
				.sort
						.button-group
							button.button.size(data-sort-value='size') Sort by size

		main.tools

		footer
			p 
				| Made with <img src="images/heart.svg" alt="love"> by
				| <a href="https://sergey-pimenov.github.io/portfolio_page/pages/eng/index.html"> Sergey Pimenov </a>

	script(src='scripts/index.js')