.book {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 320px;
  padding: 20px 20px 0 20px;

  @media all and (max-width: 1111px) {
    height: auto;
    padding: 15px 15px 0 15px;
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 0;
}

.cover {
  width: 35%;
  height: auto;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.133) 0 3.2px 7.2px 0, rgba(0, 0, 0, 0.11) 0 0.6px 1.8px 0;
  transform-origin: 0 100%;
  transition: all 0.15s;

  @media all and (max-width: 1111px) {
    display: none;
  }
}

.content {
  flex: 1;
  max-height: 100%;
  padding: 0 30px;

  @media all and (max-width: 1111px) {
    padding: 0;
  }
}

.title {
  margin-top: -4px;
  font-weight: bold;
  font-size: 26px;
  font-size: 24px;
  font-family: Inria Serif, sans-serif;
  line-height: 1.2;

  @media all and (max-width: 1111px) {
    font-size: 18px;
  }
}

.subTitle {
  margin-top: 5px;
  color: grey;
  font-size: 12px;

  @media all and (max-width: 1111px) {
    color: rgb(180, 180, 180);
  }
}

.descriptionWrapper {
  position: relative;
  height: 120px;
  margin-top: 20px;
  overflow: hidden;

  @media all and (max-width: 1111px) {
    margin-top: 10px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    content: '';
  }
}

.description {
  font-size: 12px;

  br {
    display: none;
  }

  p {
    margin-bottom: 10px;
  }

  li {
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '-   ';
    }
  }
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-top: auto;

  /* color: gray; */
  font-size: 10px;
  border-top: 1px rgba(0, 0, 0, 0.06) solid;
}

.sale {
  margin-left: auto;
  color: rgb(77, 77, 77);
  font-weight: bold;
}

.currencyCode {
  margin-left: 2px;
  font-weight: normal;
}

.authors {
  display: flex;
  margin-right: 20px;
}

.author + .author:not(:first-child)::before {
  content: ', ';
}

.pageCount {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.pagesIcon {
  height: 10px;
  margin-right: 5px;
}
